extends indexLayout
block center
	<div id="home-box">
	<div class="top clearfix">
	<div id="top-left" class="main"></div>
	<div id="top-center"></div>
	<div id="top-right" class="main"></div>
	</div>
	<div class="bottom clearfix">
	<div id="bottom-left" class="main"></div>
	<div id="bottom-center"></div>
	<div id="bottom-right" class="main"></div>
	</div>
	</div>